USE [QLCuaHangTienLoi]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 3/31/2026 5:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maHoaDon] [varchar](10) NULL,
	[maSanPham] [varchar](10) NULL,
	[soLuong] [int] NOT NULL,
	[giaBan] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[maChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maPhieuNhap] [varchar](10) NULL,
	[maSanPham] [varchar](10) NULL,
	[soLuong] [int] NOT NULL,
	[giaNhap] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [varchar](10) NOT NULL,
	[ngayLap] [datetime] NULL,
	[maNhanVien] [varchar](10) NULL,
	[maKhachHang] [varchar](10) NULL,
	[tongTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](10) NOT NULL,
	[tenKhachHang] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[diemTichLuy] [int] NULL,
	[ngayDangKy] [date] NULL,
	[tenDangNhap] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoai] [varchar](10) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [varchar](10) NOT NULL,
	[tenNCC] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](200) NULL,
	[soDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](10) NOT NULL,
	[tenNhanVien] [nvarchar](100) NOT NULL,
	[chucVu] [nvarchar](50) NULL,
	[soDienThoai] [varchar](15) NULL,
	[tenDangNhap] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[maPhieuNhap] [varchar](10) NOT NULL,
	[ngayNhap] [datetime] NULL,
	[maNhanVien] [varchar](10) NULL,
	[maNCC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [varchar](10) NOT NULL,
	[tenSanPham] [nvarchar](150) NOT NULL,
	[giaNhap] [decimal](18, 0) NULL,
	[giaBan] [decimal](18, 0) NULL,
	[soLuongTon] [int] NULL,
	[ngayHetHan] [date] NULL,
	[maLoai] [varchar](10) NULL,
	[maNCC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/31/2026 5:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [varchar](50) NOT NULL,
	[matKhau] [varchar](255) NOT NULL,
	[vaiTro] [varchar](20) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([maChiTiet], [maHoaDon], [maSanPham], [soLuong], [giaBan]) VALUES (5, N'HD001', N'SP001', 5, CAST(10000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([maChiTiet], [maHoaDon], [maSanPham], [soLuong], [giaBan]) VALUES (6, N'HD002', N'SP001', 1, CAST(10000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([maChiTiet], [maHoaDon], [maSanPham], [soLuong], [giaBan]) VALUES (7, N'HD002', N'SP002', 8, CAST(5000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([maChiTiet], [maPhieuNhap], [maSanPham], [soLuong], [giaNhap]) VALUES (5, N'PN001', N'SP001', 100, CAST(8000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietPhieuNhap] ([maChiTiet], [maPhieuNhap], [maSanPham], [soLuong], [giaNhap]) VALUES (6, N'PN002', N'SP002', 150, CAST(3500 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietPhieuNhap] ([maChiTiet], [maPhieuNhap], [maSanPham], [soLuong], [giaNhap]) VALUES (7, N'PN003', N'SP003', 30, CAST(45000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [maNhanVien], [maKhachHang], [tongTien]) VALUES (N'HD001', CAST(N'2026-03-10T15:20:00.000' AS DateTime), N'NV002', N'KH001', CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [maNhanVien], [maKhachHang], [tongTien]) VALUES (N'HD002', CAST(N'2026-03-12T18:45:00.000' AS DateTime), N'NV002', N'KH002', CAST(150000 AS Decimal(18, 0)))
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [soDienThoai], [diemTichLuy], [ngayDangKy], [tenDangNhap]) VALUES (N'KH001', N'Phan Thanh Tùng', N'0988000111', 120, CAST(N'2026-01-05' AS Date), N'khach01')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [soDienThoai], [diemTichLuy], [ngayDangKy], [tenDangNhap]) VALUES (N'KH002', N'Hoàng Thị Ngọc Lân', N'0988000222', 45, CAST(N'2026-02-10' AS Date), N'khach02')
GO
INSERT [dbo].[LoaiSanPham] ([maLoai], [tenLoai], [moTa]) VALUES (N'L01', N'Nước giải khát', N'Đồ uống đóng chai, lon')
INSERT [dbo].[LoaiSanPham] ([maLoai], [tenLoai], [moTa]) VALUES (N'L02', N'Thực phẩm khô', N'Mì gói, bánh kẹo, thực phẩm đóng gói')
INSERT [dbo].[LoaiSanPham] ([maLoai], [tenLoai], [moTa]) VALUES (N'L03', N'Hóa mỹ phẩm', N'Dầu gội, bột giặt, kem đánh răng')
GO
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChi], [soDienThoai]) VALUES (N'NCC01', N'Công ty Suntory PepsiCo', N'88 Đồng Khởi, Quận 1, TP.HCM', N'19001234')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChi], [soDienThoai]) VALUES (N'NCC02', N'Công ty Acecook Việt Nam', N'KCN Tân Bình, TP.HCM', N'19005678')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChi], [soDienThoai]) VALUES (N'NCC03', N'Tập đoàn Unilever', N'156 Nguyễn Lương Bằng, Quận 7, TP.HCM', N'19009999')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [chucVu], [soDienThoai], [tenDangNhap]) VALUES (N'NV001', N'Nguyễn Văn Trưởng', N'Quản lý trưởng', N'0901111222', N'admin')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [chucVu], [soDienThoai], [tenDangNhap]) VALUES (N'NV002', N'Trần Thị Thu Ngân', N'Thu ngân', N'0903333444', N'nhanvien01')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [chucVu], [soDienThoai], [tenDangNhap]) VALUES (N'NV003', N'Lê Mạnh Cường', N'Nhân viên kho', N'0905555666', N'nhanvien02')
GO
INSERT [dbo].[PhieuNhap] ([maPhieuNhap], [ngayNhap], [maNhanVien], [maNCC]) VALUES (N'PN001', CAST(N'2026-03-01T08:00:00.000' AS DateTime), N'NV003', N'NCC01')
INSERT [dbo].[PhieuNhap] ([maPhieuNhap], [ngayNhap], [maNhanVien], [maNCC]) VALUES (N'PN002', CAST(N'2026-03-05T09:30:00.000' AS DateTime), N'NV003', N'NCC02')
INSERT [dbo].[PhieuNhap] ([maPhieuNhap], [ngayNhap], [maNhanVien], [maNCC]) VALUES (N'PN003', CAST(N'2026-03-05T10:00:00.000' AS DateTime), N'NV003', N'NCC03')
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaNhap], [giaBan], [soLuongTon], [ngayHetHan], [maLoai], [maNCC]) VALUES (N'SP001', N'Pepsi Chanh 320ml', CAST(8000 AS Decimal(18, 0)), CAST(10000 AS Decimal(18, 0)), 94, CAST(N'2027-01-01' AS Date), N'L01', N'NCC01')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaNhap], [giaBan], [soLuongTon], [ngayHetHan], [maLoai], [maNCC]) VALUES (N'SP002', N'Mì Hảo Hảo Tôm Chua Cay', CAST(3500 AS Decimal(18, 0)), CAST(5000 AS Decimal(18, 0)), 142, CAST(N'2026-12-25' AS Date), N'L02', N'NCC02')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaNhap], [giaBan], [soLuongTon], [ngayHetHan], [maLoai], [maNCC]) VALUES (N'SP003', N'Dầu gội Clear Men 140g', CAST(45000 AS Decimal(18, 0)), CAST(55000 AS Decimal(18, 0)), 28, CAST(N'2028-05-20' AS Date), N'L03', N'NCC03')
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [vaiTro], [trangThai]) VALUES (N'admin', N'123456', N'admin', 1)
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [vaiTro], [trangThai]) VALUES (N'khach01', N'123456', N'CUSTOMER', 1)
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [vaiTro], [trangThai]) VALUES (N'khach02', N'123456', N'CUSTOMER', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__59267D4AEA197650]    Script Date: 3/31/2026 5:31:53 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__59267D4A2460C5FD]    Script Date: 3/31/2026 5:31:53 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [ngayDangKy]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [ngayNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [giaNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [giaBan]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [soLuongTon]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('CUSTOMER') FOR [vaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([maPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([tenDangNhap])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([tenDangNhap])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiSanPham] ([maLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongTon] CHECK  (([soLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_SoLuongTon]
GO
